body{
  background-color:#242424 ;
  font-family:"Hind Siliguri";
  color: white;
 margin: 0;
 overflow-x: hidden;
 overflow-y: scroll;

}
#navbar{
width: 100vw;
height: fit-content;
position:sticky;
top: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
background-color:#1E1E1E ;
}
.logo{
  display: flex;
  color:#61DAFB ;
  font-size: 48px;
  padding: 0;
  margin: 0;
  padding: .25%;
  text-decoration: none;
  transition: ease-in-out .5s;
}
.logo:hover{
  transform: rotate(15deg);
}
.logo:visited{
  color: #61DAFB;
  text-decoration: none;
}
.links{
  display: flex;
  justify-content: space-between;
}
.link{
  align-self: center;
  padding: 10px;
  font-size: 20px ;
  margin: 0;
  text-decoration: none;
  color: white;
}

#content{
  display: flex;
  margin-left:2% ;
  margin-right:2% ;
  flex-direction: column;
}
#bio{
  font-size:24px ;
}
#portrait{
  float: left;
  width: 20vw;
  height: 20vw;
  max-width:512px;
  border-radius: 50%;
  margin-right: 5%;
  background-image: url("../images/portrait.jpg");
  background-position: center;
  background-size: cover;
}
#showcase{
  display: flex;

}

#featured{
  display: flex;
  flex-direction: column; 
}

.preview{
  width: 220px;
  height: 260px;
  background-size:cover;
  background-position: center;
  border-radius: 10px;
   margin: 10px;
}
.previewtitle{
  background:inherit;
  filter: invert(1) grayscale(1) contrast(9);
  background-clip:text;
  color:transparent;
  


}
@media only screen and (max-width: 700px) {
  #burger-menu{
    width: 32px;
  } 
#intro{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#portrait{
  width: 50vw;
  height: 50vw;
  margin-top: 5%;
  justify-self: center;
  align-self: center;
}
  #showcase{
    display:flex;
    flex-direction: column;
    align-content: center;
    
    width: 100%;
  }

  .preview{
    align-self: center;
    width: 100%;
    height: 50vh;
    margin: 0;
    margin-bottom: 5%;
   
  }
  
}

#menu{
width: .05vw;
max-width: 64px;
max-height: 48px;
padding: 10px;
text-decoration: none;
}

#expanded-menu{
  display: none;
  width: fit-content;
  height: fit-content;
  padding: 25px;
  background-color: #343434;
  position: absolute;
  font-size: 32px;
  text-decoration: none;
  border-radius: 3%;
  z-index: 2;
}
a{text-decoration: none;}
a:visited{
  text-decoration: none;
  color: inherit;
}


